.my-header {
    height: 214px; 
    background:url(../img/temp_header.png) 50% 0 no-repeat; 
    padding: 0px 15px 0px 15px; 
    font-family: 'Amatic SC', cursive; 
    font-size: 80px
}

.my-nav {
    padding: 0;
}

.my-nav > div {    
    margin: 0; 
    padding-left: 15px; 
    padding-bottom: 15px;
    padding-top: 13px;
}

@media (min-width: 992px) { 
    .my-nav > div {
        border-left: 1px solid lightgray; 
    }
}

.my-footer {
    height: 200px;
    background:url(../img/temp_footer.png) 0 0 no-repeat; 
}

.visCont {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
    position: relative;
}

.visOverlay {
    position: absolute;
    left: 0;
    top: 0;   
    pointer-events: none;
    z-index: 1;
}